@{
    ViewData["Title"] = "About";
}

<p>This web application was created to keep track of the books and movies that I plan to read or have read!</p>
<p>As you may have noticed, when you download this repo from github, my information was saved.</p>
<p>Feel free to delete those items to make your own tracker!</p>