@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my book and movie tracker!</h1>
    <p>This application uses a sqlite database to keep track of your books and movies</p>
</div>
